<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dronetrack.atak">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.atakmap.app.plugin"
            android:value="${applicationId}.plugin.DroneTrackPluginHarmonizer" />

        <meta-data
            android:name="plugin_version"
            android:value="1.0" />

        <meta-data
            android:name="desc"
            android:value="@string/app_desc" />

        <meta-data
            android:name="shortdesc"
            android:value="@string/app_shortdesc" />

        <meta-data
            android:name="icon"
            android:value="@drawable/ic_launcher" />

    </application>

</manifest>